server:
    ssl:
        key-store: classpath:PKCS12.p12
        key-store-password: At130444
        key-store-type: pkcs12
        key-alias: vubaquangkma
    port: 8443
#  openssl pkcs12 -export -in ../library-front-end/localhost.pem -inkey ../library-front-end/localhost-key.pem -name vubaquangkma -out src/main/resources/PKCS12.p12
spring:
    data:
#        elasticsearch:
#            repositories:
#                enabled: false
#        jpa:
#            repositories:
#                enabled: false
        redis:
            repositories:
                enabled: false
    datasource:
        password: Vbq@23111998
        url: jdbc:mysql://localhost:3306/at130444
        username: root
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL8Dialect
                jdbc:
                    lob:
                        non_contextual_creation: true
    cache:
        type: redis
        redis:
            host: localhost
            port: 6379
auth:
    jwt:
        secret:
            key: AT130444
    token:
        ttl: 3600

#logging:
#  level:
#    org:
#      hibernate:
#        SQL: DEBUG
#        type:
#          descriptor:
#            sql:
#              BasicBinder: TRACE

